<section class="card">
        <div class="card__bar">
          <span>Datos del Jefe de Departamento</span>

          <a class="pdfLink" href="#">
            <span class="pdfIcon">PDF</span>
            <span class="pdfText">Instructivo Jefes</span>
            <span class="pdfSize">2.40 MB</span>
          </a>
        </div>

        <div class="card__body">
          <div class="profileGrid">
            <div class="profileLeft">
              <img class="profileAvatar" src="assets/images/perfil.png" alt="UNAH" />
            </div>

            <div class="profileRight">
              <div class="kv">
                <div class="k">No. Empleado:</div>
                <div class="v">12345</div>
              </div>

              <div class="kv">
                <div class="k">Nombre:</div>
                <div class="v">HELLEN ROCIO PINEL BACA</div>
              </div>

              <div class="kv">
                <div class="k">Centro:</div>
                <div class="v">CIUDAD UNIVERSITARIA</div>
              </div>

              <div class="btnRow">
                <button class="btn btn-outline" type="button">Ver censo académico</button>
                <button class="btn btn-solid" type="button">Ver Calificaciones Parciales</button>
              </div>
            </div>
          </div>
        </div>
      </section>