:host{
  display: block;
}
 
/* Título de página */
.unah-pageTitle{
  margin: 6px 0 14px;
}
 
.unah-pageTitle h1{
  margin: 0;
  font-size: 22px;
  font-weight: 900;
}
 
.unah-pageTitle p{
  margin: 8px 0 0;
  color: var(--muted);
  font-size: 13px;
  font-weight: 700;
}
 
.link{
  color: var(--accent);
  text-decoration: underline;
}