<app-layout>

  <section class="unah-pageTitle">
    <h1>Servicios del Jefe de Departamento</h1>
    <p>
      Bienvenid&#64;:
      <strong>HELLEN ROCIO PINEL BACA</strong>,
      correo institucional:
      <a href="https://mail.unah.edu.hn/" class="link">
        hellen.pinel&#64;unah.edu.hn
      </a>
    </p>
  </section>

  <app-profile-card
    [title]="'Datos del Jefe de Departamento'"
    [employeeData]="employeeData"
    [pdfData]="pdfData"
    (viewCenso)="viewCenso()"
    (viewCalificaciones)="abrirCalificaciones()"
  ></app-profile-card>
  <app-menu-pregrado></app-menu-pregrado>
  <app-menu-laboratorios></app-menu-laboratorios>

</app-layout>
