<!-- ===== FOOTER ===== -->
<footer class="unah-footer">

  <!-- Franja superior -->
  <div class="unah-footer-top">
    <div class="unah-footer__inner">

      <!-- Izquierda -->
      <div class="fLeft">
        <h3 class="fTitle">SISTEMA DE REGISTRO</h3>
        <p>Ciudad Universitaria Tegucigalpa, M.D.C. Honduras</p>
        <p>
          consultas_dipp&#64;unah.edu.hn<br>
          (+504) 2232-5496, (+504) 2232-6862
        </p>
      </div>

      <!-- Derecha -->
      <div class="fSocial">
        <a href="https://www.facebook.com/p/Registro-DIPP-UNAH-100064388181333/" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" aria-label="Correo">
          <i class="fas fa-envelope"></i>
        </a>
      </div>

    </div>
  </div>

  <!-- Franja inferior -->
  <div class="unah-footer-bottom">
    <div class="unah-footer__inner bottom">
      <div class="fBrand">
        <a href="https://www.unah.edu.hn/" target="_blank" aria-label="UNAH">
          <img src="assets/images/logo-unah-blanco.png"
              class="unah-footer-logo-lg"
              alt="UNAH">
        </a>
      </div>

      <div class="fCopy">
        © 2026 Universidad Nacional Autónoma de Honduras.
        <p>
          <a href="https://degt.unah.edu.hn/" class="link">
            Dirección Ejecutiva de Gestión de Tecnología - DEGT
          </a>
        </p>
      </div>

    </div>
  </div>

</footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
